.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode .MuiPaper-root {
    background-color: #444;
  }
  
  .dark-mode .MuiTableCell-root {
    color: #fff;
  }
  
  .dark-mode .MuiTableRow-root:nth-of-type(odd) {
    background-color: #555;
  }
  
  .dark-mode .MuiPagination-root .MuiPaginationItem-root {
    color: #fff;
  }
  
  .dark-mode .MuiSelect-icon {
    color: #fff;
  }
  
  .dark-mode .MuiOutlinedInput-notchedOutline {
    border-color: #666;
  }